In [47]:
import pandas as pd
df = pd.read_csv('data/score.csv', index_col='지원번호')
df_score=df.loc[:, '국어':'사회']
df_score.to_csv('data/학생성적.csv')

In [48]:
df = pd.read_csv('data/학생성적.csv')
df['지원번호']=df['지원번호'].str.replace('번','')
df['지원번호']=df['지원번호'].apply(lambda x:int(x))
df

   지원번호   국어   영어   수학  과학  사회
0     1   90   85  100  95  85
1     2   40   35   50  55  25
2     3   80   75   70  80  75
3     4   40   60   70  75  80
4     5   15   20   10  35  10
5     6   80  100   95  85  80
6     7   55   65   45  40  35
7     8  100   85   90  95  95

In [49]:
df.to_csv('data/학생성적.csv', index=False)

In [50]:
score = pd.read_csv('data/학생성적.csv')
cols=list(score.columns)
cols

TypeError: 'list' object is not callable

In [ ]:
for idx in range(len(score)):
    row = score.loc[idx]
    for col in cols:
        print(f'{col}:{row[col]}', end=' ')
    print()

지원번호:1 국어:90 영어:85 수학:100 과학:95 사회:85
지원번호:2 국어:40 영어:35 수학:50 과학:55 사회:25
지원번호:3 국어:80 영어:75 수학:70 과학:80 사회:75
지원번호:4 국어:40 영어:60 수학:70 과학:75 사회:80
지원번호:5 국어:15 영어:20 수학:10 과학:35 사회:10
지원번호:6 국어:80 영어:100 수학:95 과학:85 사회:80
지원번호:7 국어:55 영어:65 수학:45 과학:40 사회:35
지원번호:8 국어:100 영어:85 수학:90 과학:95 사회:95

In [ ]:
index=score.index
index=max(index)+1
index

8

In [ ]:
no = score['지원번호'].max()
no = no+1
no

np.int64(9)

In [ ]:
score.loc[index]=[no,0,0,0,0,0]

In [54]:
score = pd.read_csv('data/학생성적.csv')
score

   지원번호   국어   영어   수학  과학  사회
0     1   90   85  100  95  85
1     2   40   35   50  55  25
2     3   80   75   70  80  75
3     4   40   60   70  75  80
4     5   15   20   10  35  10
5     6   80  100   95  85  80
6     7   55   65   45  40  35
7     8  100   85   90  95  95
8     9    0    0    0   0   0

In [58]:
no = input('지원번호>')
filt = score['지원번호']==int(no)
idxs = score[filt].index
if len(idxs)==0:
    print('검색데이터가 없습니다.')
else:
    row = score.loc[idxs[0]]
    for col in cols:
        print(f'{col}:{row[col]}')

지원번호:3
국어:80
영어:75
수학:70
과학:80
사회:75

In [59]:
score

   지원번호   국어   영어   수학  과학  사회
0     1   90   85  100  95  85
1     2   40   35   50  55  25
2     3   80   75   70  80  75
3     4   40   60   70  75  80
4     5   15   20   10  35  10
5     6   80  100   95  85  80
6     7   55   65   45  40  35
7     8  100   85   90  95  95
8     9    0    0    0   0   0

In [68]:
no = 8
filt = score['지원번호'] == int(no)
idx=score[filt].index
if len(row) ==0:
    print('No Data')
else:
    row = score.loc[idx[0]]
    for col in cols:
        print(f'{col}:{row[col]}', end='    ')
    score.drop(index=idx[0], inplace=True)

지원번호:8    국어:100    영어:85    수학:90    과학:95    사회:95

In [69]:
score

   지원번호  국어   영어   수학  과학  사회
0     1  90   85  100  95  85
1     2  40   35   50  55  25
2     3  80   75   70  80  75
3     4  40   60   70  75  80
4     5  15   20   10  35  10
5     6  80  100   95  85  80
6     7  55   65   45  40  35
8     9   0    0    0   0   0

In [80]:
score=pd.read_csv('data/학생성적.csv')
sel=int(input())
score = score.sort_values(cols[sel], ascending=False)
score.index

Index([7, 0, 2, 5, 6, 1, 3, 4, 8], dtype='int64')

In [75]:
cols = score.columns
cols[1]

'국어'